<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>奥迪</string>
	<string>阿尔法罗密欧</string>
	<string>阿斯顿.马丁</string>
	<string>安凯客车</string>
	<string>标致</string>
	<string>本田</string>
	<string>宝马</string>
	<string>北京</string>
	<string>奔驰</string>
	<string>布加迪</string>
	<string>别克</string>
	<string>宾利</string>
	<string>保时捷</string>
	<string>比亚迪</string>
	<string>奔腾</string>
	<string>宝骏</string>
	<string>巴博斯</string>
	<string>北汽威旺</string>
	<string>北汽制造</string>
	<string>北汽绅宝</string>
	<string>北汽幻速</string>
	<string>北汽新能源</string>
	<string>长安</string>
	<string>长城</string>
	<string>昌河</string>
	<string>长安商用</string>
	<string>成功汽车</string>
	<string>大众</string>
	<string>东风</string>
	<string>道奇</string>
	<string>东南</string>
	<string>大发</string>
	<string>东风风神</string>
	<string>东风小康</string>
	<string>东风风行</string>
	<string>DS</string>
	<string>东风风度</string>
	<string>丰田</string>
	<string>福特</string>
	<string>菲亚特</string>
	<string>法拉利</string>
	<string>福田</string>
	<string>福迪</string>
	<string>福汽启腾</string>
	<string>广汽传祺</string>
	<string>广汽吉奥</string>
	<string>GMC</string>
	<string>光冈</string>
	<string>观致</string>
	<string>哈飞</string>
	<string>悍马</string>
	<string>华普</string>
	<string>海马</string>
	<string>华泰</string>
	<string>红旗</string>
	<string>黄海</string>
	<string>海格</string>
	<string>恒天</string>
	<string>哈弗</string>
	<string>华颂</string>
	<string>华凯</string>
	<string>吉利汽车</string>
	<string>捷豹</string>
	<string>Jeep</string>
	<string>金杯</string>
	<string>江淮</string>
	<string>江铃</string>
	<string>金龙</string>
	<string>九龙</string>
	<string>金旅</string>
	<string>江铃集团轻汽</string>
	<string>克莱斯勒</string>
	<string>凯迪拉克</string>
	<string>科尼塞克</string>
	<string>开端</string>
	<string>KTM</string>
	<string>卡尔森</string>
	<string>卡威</string>
	<string>凯翼</string>
	<string>康迪</string>
	<string>卡升</string>
	<string>雷诺</string>
	<string>兰博基尼</string>
	<string>路虎</string>
	<string>路特斯</string>
	<string>林肯</string>
	<string>雷克萨斯</string>
	<string>铃木</string>
	<string>劳斯莱斯</string>
	<string>捷豹汽车</string>
	<string>力帆</string>
	<string>陆风</string>
	<string>莲花汽车</string>
	<string>劳伦士</string>
	<string>理念</string>
	<string>陆地方舟</string>
	<string>雷丁</string>
	<string>LOCAL MOTORS</string>
	<string>MG</string>
	<string>迈巴赫</string>
	<string>MINI</string>
	<string>玛莎拉蒂</string>
	<string>马自达</string>
	<string>迈凯伦</string>
	<string>摩根</string>
	<string>纳智捷</string>
	<string>南京金龙</string>
	<string>欧宝</string>
	<string>讴歌</string>
	<string>欧朗</string>
	<string>奇瑞</string>
	<string>起亚 </string>
	<string>启辰</string>
	<string>荣威</string>
	<string>日产</string>
	<string>瑞麒</string>
	<string>如虎</string>
	<string>smart</string>
	<string>萨博</string>
	<string>斯巴鲁</string>
	<string>世爵</string>
	<string>斯柯达</string>
	<string>三菱 </string>
	<string>双龙</string>
	<string>双环 </string>
	<string>陕汽通家</string>
	<string>上汽大通</string>
	<string>思铭</string>
	<string>斯达泰克</string>
	<string>特斯拉</string>
	<string>腾势</string>
	<string>泰卡特</string>
	<string>沃尔沃</string>
	<string>威兹曼</string>
	<string>威麟</string>
	<string>五菱汽车</string>
	<string>五十铃</string>
	<string>潍柴英致</string>
	<string>现代</string>
	<string>雪佛兰</string>
	<string>雪铁龙</string>
	<string>西雅特</string>
	<string>新凯</string>
	<string>英菲尼迪</string>
	<string>永源</string>
	<string>一汽</string>
	<string>野马汽车</string>
	<string>依维柯</string>
	<string>中华</string>
	<string>中兴 </string>
	<string>众泰</string>
	<string>知豆</string>
</array>
</plist>
